Asterisk.IP 127.0.0.1
Asterisk.Port 5060
CLI.Prompt FuzzingBTS> 
Control.CELL_RESELECT_OFFSET 31
Control.FailedRegistrationWelcomeShortCode 1000
Control.LUR.QueryClassmark 
Control.LUR.QueryIMEI 
Control.LUR.TMSIsAll 
Control.NormalRegistrationWelcomeMessage Welcome to OpenBTS! AGPLv3 openbts.sf.net. Your IMSI is
Control.NormalRegistrationWelcomeShortCode 0000
Control.OpenRegistration 
Control.OpenRegistrationWelcomeMessage Welcome to OpenBTS! AGPLv3 openbts.sf.net. Your IMSI is
Control.OpenRegistrationWelcomeShortCode 101
Control.TMSITable.MaxAge 72
Control.TMSITable.MaxSize 10000
Control.TMSITable.SavePath TMSITable.txt
Fuzzing.IP 121.248.52.125
Fuzzing.Port 6001
GSM.AGCH.QMax 5
GSM.ARFCN 3
GSM.BCC 2
GSM.BTSID 10
GSM.Band 900
GSM.CCD.ATT 1
GSM.CCD.CCCH_CONF 1
GSM.CI 10
GSM.CS.CELL_RESELECT_HYSTERESIS 3
GSM.CS.MS_TXPWR_MAX_CCH 0
GSM.CS.NECI 1
GSM.CS.RXLEV_ACCESS_MIN 0
GSM.LAC 1000
GSM.LURejectCause 0x04
GSM.MCC 460
GSM.MNC 23
GSM.MS.Power.Damping 50
GSM.MS.Power.Max 33
GSM.MS.Power.Min 5
GSM.MS.TA.Damping 50
GSM.MS.TA.Max 5
GSM.MaxExpectedDelaySpread 1 
GSM.MaxSpeechLatency 2
GSM.NCC 0
GSM.NCCsPermitted 1
GSM.Neighbors 39 41 43
GSM.NumC1s 6
GSM.NumC7s 1
GSM.PagingReservations 0
GSM.PowerManager.MaxAttenDB 30 
GSM.PowerManager.MinAttenDB  7 
GSM.PowerManager.NumSamples 10
GSM.PowerManager.Period 6000
GSM.PowerManager.SamplePeriod 2000
GSM.PowerManager.TargetT3122 5000
GSM.RACH.AC 0
GSM.RACH.MaxRetrans 1
GSM.RACH.TxInteger 14
GSM.RADIO_LINK_TIMEOUT 15
GSM.RRLP.Accuracy 60
GSM.RRLP.LUR 
GSM.RRLP.Retries 1
GSM.RRLP.Timeout 4000
GSM.RSSITarget -15
GSM.RxGain 47
GSM.ShortName Fuzzing-BTS
GSM.ShowCountry 
GSM.T3113 10000
GSM.T3122Max 255000
GSM.T3122Min 2000
GSM.T3212 12
GSMTAP.TargetIP 127.0.0.1
Indications.TargetIP 127.0.0.1
Indications.TargetPort 10202
Log.Alarms.Max 10
Log.Alarms.TargetIP 192.168.10.200
Log.Alarms.TargetPort 10101
Log.FileName test.out
Log.Level WARN
Log.Level.CallControl.cpp DEEPDEBUG
Log.Level.RadioResource.cpp INFO
Log.Level.TRXManager.cpp INFO
PBX.Emergency 2101
RTP.Range 98
RTP.Start 16484
SIP.IP 127.0.0.1
SIP.Port 5062
SIP.RegistrationPeriod 7200
SIP.Timer.A 2000
SMS.CallingNumber 123456789
SMS.DefaultDestSMSC 0000
SMS.FakeSrcSMSC 0000
SMS.SendMessage 欢迎光临
Smqueue.IP 127.0.0.1
Smqueue.Port 5063
TRX.IP 127.0.0.1
TRX.LogFileName test.TRX.out
TRX.LogLevel ERROR
TRX.Path ../Transceiver52M/transceiver
TRX.Port 5700
TestCall.Port 28670
