RR
pagingRequestType1
systemInformationType1
systemInformationType4
immediateAssignment
channelRelease
assignmentCommand
channelModeModify
applicationInformation
classmarkChange
MM

locationUpdatingAccept
locationUpdatingReject
cmServiceReject
cmServiceRequest
cmReestablishmentRequest
mmInformation
identityRequest
releaseNetToMs

CC
status
releaseCompleteNetToMs
setupMobileTerminated
emergencySetup
callProceeding
alertingNetToMs
connectNetToMs
disconnectNetToMs
startDtmf
progress

